.main {
    background-color: #17427C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-left: 5%;
    margin-right: 5%; */
    z-index: 1;
}
.main a  {
    color: white;
}
.main Link{
    color: white;
}
.main a:active{
    color: green !important;
}
.main .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main li {
    padding-left: 40px;
}
.main a:hover {
    color: red;
}
.main link:hover {
    color: red;
}



