.aboutestab {
    margin-top: 50px;
    width: 90%;
    box-shadow: 0 5px 25px rgba(1 1 1/50%);
    margin-bottom: 50px;
}

.aboutestab h2 {
    padding-top: 70px;
    padding-bottom: 20px;
}

.aboutestab p {
    padding: 20px;
    padding-bottom: 70px;
}

.aboutestab span{
    color: red;
    font-weight: bold;

}
